body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    background-color: #171717;
}

a.link {
    padding: 5px;
    color: #E5E7EB;
    text-decoration: none;
    border: 2px solid transparent;
    text-shadow: 2px 2px 3px #ff750088;
}  

a.link:hover {
    color: black;
    border-radius: 15%;
    border: 2px solid #ff7500;
    background-color: #feb81a;
    text-shadow: 2px 2px 3px #ff750088;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size:36px; 
    font-weight: bolder;
    color: #F9FAF8;     
    text-shadow: 2px 2px 3px #ff750088;
}

.footer, .header {
    background-color: #191919;
    color: white;
    padding: 0 32px;
}

.header {
    display: flex;
    justify-content:  center;
    align-items: center;
}

.header > div {
    max-width: 1100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #191919;   
}

.navbar > .navbar-content {
    font-size: 18px ;
    color: #E5E7EB;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
    

.footer{
    text-align: center;
    flex-shrink: 0;
    padding: 16px 0;
    font-weight: 500;
}

.footer > a {
    color: inherit;
    text-decoration: none;
}


.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.content > .section >  div {
    max-width: 1100px;
    margin: 32px auto;
}

.section {
    background-color: #F9FAF8;
}


.section:nth-child(even) {
    background-color: #E5E7EB;
}

.section {
    flex: 1 0 auto;
}


.header > div.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 32px;


    background-color: #feb81a;
    border-radius: 350px;
    -webkit-box-shadow:inset 0px 0px 0px 10px #ff7500;
    -moz-box-shadow:inset 0px 0px 0px 10px #ff7500;
    box-shadow:inset 0px 0px 0px 10px #ff7500;

}

.header > div.title img {
    height: auto;
    width: 350px;
    border-radius: 350px;
    border: 10px solid #ff7500;
}

.header > div.title div {
    max-width: 500px;
    padding-left: 48px;
    color: whitesmoke;
}

.header h1 {
    text-shadow: 2px 2px 3px #ff750088;
}


.quote {
    font-size: 18px;
    font-style: italic;
    margin: 32px 0;
    color: lightslategray;
}

.card-holder {
    text-align: center;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #feb81a;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10em;
    border: 10px solid #ff7500;
    text-shadow: 2px 2px 3px #ff750088;

}

.card img {
    margin: 8px;
    width: auto;
    height: 200px;
    object-fit: cover;
}

.card-holder p {
    margin: 8px 0;
    font-size: 24px;
    color: lightslategray;
    text-shadow: 2px 2px 3px #ff775055;
}

.container {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.motto {
    max-width: 750px;
}
.motto-content {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #191919;
    margin: 16px 0 0 0;
}
.motto-author {
    float: right;
    font-weight: bold;
    font-size: 18px;
    color: lightslategray;
}

#sign-up {
    margin: 32px auto;
    padding: 32px 64px;
    border: 10px solid #ff7500;
    background-color: #feb81a;
    border-radius: 50px;

    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sign-up-content {
    display: flex;
    flex-direction: column;
}

.sign-up-content .title {
    font-size: 24px;
    color: whitesmoke;
    text-shadow: 2px 2px 3px #ff750088;
}

.sign-up-content .content {
    font-size: 18px;
    color: lightslategray;
}

.sign-up a.button {
    text-decoration: none;
    font-weight: bold;
    background-color: #ff7500;
    border-radius: 10px;
    padding: 16px 8px;
    color: whitesmoke;
}